<template>
    <div id='{{fileName}}'>
        <p>用户名:\{{username}}</p>
        <p>电话:\{{tel}}</p>
    </div>
</template>

<script>
    import js from './{{fileName}}.js';
    export default js;
</script>

<style scoped lang='{{style}}'>
    @import './{{fileName}}.{{style}}';
</style>
